/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*-----------------------------------
        Common Styles 
-------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.body-section {
    margin: auto 8.75vw;
}

/* -------------------------------
        Top banner Section
---------------------------------- */

.top-banner {
    margin-top: 50px;
    display: flex;
    background: #161616;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    /* gap: 24px; */
}

.half-width {
    width: 50%;
}

.banner-details {
    padding-left: 6.625vw;
}

.banner-details h1 {
    font-size: 4.375rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 80px;
}
.banner-details p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
}
.banner-details a {
    padding: 16px 25px;
    background: #dd0000;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
.banner-details a i {
    padding-left: 10px;
    opacity: 80%;
}

.banner-image {
    width: 36vw;
    /* height: 613px; */
}

.banner-image img {
    width: 100%;
}

/* Main Content Section */
.main-content {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 312px 1fr;
}

.main-content .navs {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.main-content .navs a {
    text-decoration: none;
    width: 252px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #161616;
}
.main-content .navs a:last-child {
    background-color: #dd0000;
    color: #ffffff;
}

/* Blogs section */

.blogs-container {
    margin-left: 1.2vw;
}

.blogs {
    /* margin-left: 1.2vw; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2vw;
    row-gap: 24px;
}

.blogs .blog {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}

.blogs .blog > img {
    width: 100%;
}

.blogs .blog .blog-details {
    margin-left: 20px;
}

.blogs .blog .blog-details button {
    display: block;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    padding: 4px 17px;
    margin-top: 24px;
    margin-bottom: 15px;
}

.blogs .blog .blog-details h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 20px;
}

.blogs .blog .blog-details .blog-info {
    margin-bottom: 20px;
    display: flex;
    font-weight: 400;
    font-size: 16px;

    color: rgba(22, 22, 22, 0.7);
    column-gap: 30px;
}
.blog-time,
.blog-comment {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* Special View All Button   */
.view-all-btn {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    display: none;
}
.view-all-btn a {
    text-decoration: none;
    background-color: #dd0000;
    border-radius: 5px;
    padding: 12px 29px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

/* Footer Style*/
footer {
    background-color: #161616;
    margin-top: 130px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 35px;
}

footer h2 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

footer hr {
    margin: 50px 8vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
    margin-left: 8vw;
    margin-right: 8vw;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    flex-wrap: wrap;
    line-height: 40px;
}
.footer-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #b9b9b9;
}

.social-icon {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    column-gap: 3vw;
}
.social-icon .icon {
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}

/* Design for Small Device */
/* -------------------- */
@media screen and (max-width: 688px) {
    /* Top banner Section */
    .body-section {
        margin: auto 5vw;
    }
    .top-banner {
        flex-direction: column;
        text-align: center;
    }
    .half-width {
        width: 100%;
    }
    .banner-details {
        padding-right: 5vw;
    }
    .banner-details h1 {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 8px;
    }
    .banner-details p {
        font-size: 14px;
        line-height: 24px;
    }
    .banner-details p span {
        display: none;
    }
    .banner-details a {
        margin-top: 16px;
        padding: 8px 12px;
    }

    .banner-image {
        margin-top: 30px;
        width: 70%;
    }

    .banner-image img {
        width: 100%;
    }

    /* Main Content nav Section */
    .main-content {
        margin-top: 24px;
        display: block;
    }

    .main-content .navs {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding-top: 24px;
    }

    .main-content .navs a {
        border: 1px solid #e8e8e8;
        display: block;
        width: fit-content;
        padding: 9px 34px;
        margin-bottom: 16px;
    }
    .main-content .navs a:first-child {
        padding: 9px 18px;
    }
    .main-content .navs a:last-child {
        padding: 10px 60px;
    }

    /* Main Content Blogs Section */
    .blogs-container {
        margin-left: 0;
    }

    .blogs {
        /* margin-left: 1.2vw; */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    /* Footer Style*/
    footer {
        margin-top: 24px;
        padding-top: 24px;
    }

    footer h2 {
        font-size: 22px;
    }

    .footer-nav {
        flex-direction: column;
        row-gap: 24px;
    }

    .social-icon {
        column-gap: 7vw;
    }
    .social-icon .icon {
        font-size: 20px;
    }
}

/* Responsive design for Medium Size Device */

@media screen and (min-width: 689px) and (max-width: 992px) {
    .body-section {
        margin: auto 6vw;
    }

    /* Top Banner Responsive Design */

    .banner-details h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .banner-details p {
        font-size: 14px;
        line-height: 24px;
    }
    .banner-details p span {
        display: none;
    }
    .banner-details a {
        margin-bottom: 16px;
    }

    .banner-image {
        width: 70%;
    }

    .banner-image img {
        width: 100%;
    }

    /* Main Content nav Section */
    .main-content {
        margin-top: 24px;
        display: block;
    }

    .main-content .navs {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding-top: 24px;
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
    }

    .main-content .navs a {
        border: 1px solid #e8e8e8;
    }

    /* Main Content Blogs Section */
    .blogs-container {
        margin-top: 30px;
    }

    .blogs {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
    .hidden-blog {
        display: none;
    }

    /* View all Button */
    .view-all-btn {
        display: flex;
    }

    /* Footer Style*/
    footer {
        margin-top: 70px;
        padding-top: 70px;
    }

    footer h2 {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-nav {
        line-height: 50px;
    }

    .social-icon {
        column-gap: 7vw;
    }
    .social-icon .icon {
        font-size: 20px;
    }
}
