/* Upcoming Match Nav Section */
.main-content .navs a {
    text-decoration: none;
    width: 252px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #161616;
}
.main-content .navs a:first-child {
    background-color: #dd0000;
    color: #ffffff;
}
.main-content .navs a:last-child {
    background-color: #ffffff;
    color: #161616;
}

/* Match Container Section */
.match-container {
    margin-left: 1.2vw;
}

.matches {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2vw;
    row-gap: 24px;
    text-align: center;
}

.match {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding-top: 53px;
    padding-bottom: 53px;
}
.country-img {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 23px;
}

.country-img span {
    font-weight: 700;
    font-size: 16px;
    color: #161616;
}
.match-info {
    margin-top: 20px;
}

.match-info h3 {
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    margin-bottom: 10px;
}

.match-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #4d4d4d;
}

/* Responsive Design for Mobile Device*/
@media screen and (max-width: 688px) {
    /* Main Content Blogs Section */

    .matches {
        /* margin-left: 1.2vw; */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}

/* Responsive Design for Tablet Device */
@media screen and (min-width: 689px) and (max-width: 992px) {

    /* Main Content Blogs Section */
    .match-container {
        margin-top: 30px;
    }

    .matches {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
    

}
